@import "~scss/variables";

@supports(font-variation-settings: normal) {
    *, body {
        font-family: "Comic Sans MS", sans-serif;
        font-feature-settings: unset;
    }

    body {
        .ace_editor * {
            font-family: "ComicMono", Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace!important;
        }
    }
}

body {
    font-family: "Comic Sans MS", sans-serif;

    .ace_editor * {
        font-family: "ComicMono", Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace!important;
    }
}

.sw-admin-menu {
    .sw-admin-menu__header-logo {
        background: center / cover no-repeat var(--frosh-nice-logo);
    }
}

.sw-login {
    .sw-login__badge {
        background: $color-shopware-brand-500 center / 34px 34px no-repeat var(--frosh-nice-logo)!important;

        svg {
            display: none;
        }
    }

    .sw-login__image {
        background-image: var(--frosh-nice-doge);
    }

    .sw-login__headline:before {
        content: 'such welcome';
        font-size: 60px;
        color: green;
    }

    .sw-login__sub-headline:before {
        content: 'much admin';
        font-size: 48px;
        color: darkviolet;
    }

    .sw-login__headline,.sw-login__sub-headline {
        font-size: 0;
    }
}
